### 个人算力积分奖励规则

---

说明：单日用户积分的获取上限为50分。该积分仅用于算力资源使用，打榜活动积分将另行计算。

| 奖励名称 | 积分值 | 上限值 | 奖励细节说明 |
| ------ | ------ | ------ | ------ |{{ range . }}
| {{ .Name }} | {{ .PointsPerOnce }} | {{ .MaxPoints }} | {{ .Desc }} |
{{- end }}
